/* import font dari google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* Mengatur font utama untuk seluruh elemen */
* {
    font-family: "Poppins", sans-serif;
}

/* Mengatur background color keseluruhan halaman */
html {
    background-color: rgb(255, 255, 255);
}

/* Mengatur layout utama sebagai flex container */
.content-utama {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

/* Mengatur align text menjadi justify untuk paragraf */
p {
    text-align: justify;
}

.text-pertama {
    text-align: justify;
}

/* Mengatur styling bagian kiri dan kanan konten */
.bagian-kiri {
    width: 50%;
    padding: 30px;
}

.bagian-kanan {
    width: 50%;
    padding: 30px;
}

/* Mengatur styling untuk form input, hasil, tabel, dan button */
.form-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Styling untuk input number */
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Styling untuk button */
button {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    transform: scale(0.9)translateY(-5px);
    background-color: cadetblue;
}

/* Styling untuk form input container */
.form-input {
    background-color: rgb(200, 200, 200);
    padding: 20px;
}

/* Styling untuk hasil BMI container */
.box-hasil {
    background-color: rgb(200, 200, 200);
    padding: 20px;
    text-align: center;
}

/* Mengatur flex container menjadi kolom pada layar kecil (mobile) */
@media (max-width: 600px) {
    .content-utama {
      flex-direction: column;
    }
    .bagian-kiri {
        width: 100%;
        padding: 0;
    }
    .bagian-kanan {
        width: 100%;
        padding: 0;
    }
}

/* Styling untuk elemen hasil BMI */
.hasil-bmi {
    font-size: 60px;
    margin: 0;
    padding: 0;
}

/* Styling untuk tabel BMI */
.tabel-bmi {
    width: 100%;
    height: 150px;
    margin: none;
    padding: 10px;
    align-items: center;
    text-align: center;
    background-color: rgb(200, 200, 200);

}

